
@media (max-width: 991.98px) {
  /* md */
  .nav-pills .nav-link.active{
    padding-block: 10px ;
    width: 95%;
  padding-inline: 5px;
  background-color: rgba(168, 163, 163, 0.5);
  transform: translateX(5px);
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -ms-transform: translateX(5px);
  -o-transform: translateX(5px);
  }
  .navbar-nav li > a::before {
      position: static;
    }
  
    .navbar-nav li > a {
      transition: all .5s ease;
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
      -o-transition: all .5s ease;
}
    .navbar-nav li:hover > a {
  width: 95%;
  padding-inline: 5px;
  background-color: rgba(168, 163, 163, 0.5);
  transform: translateX(5px);
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -ms-transform: translateX(5px);
  -o-transform: translateX(5px);
    }

  .card-footer > div {
    width: 100% !important;
  }

  .card-footer :last-child {
    width: fit-content !important;
  }
}

@media (max-width: 575.98px) {
    /* xs */
    @keyframes scroll-transition {
      
      0% {
        background-color:transparent;
      }
      0.1111111111111111% {
        background-color: rgba(0, 0, 0, 0.8);
      }
      100% {
        background-color: rgba(0, 0, 0, 0.8);
      }
    }

   

     
    header h1{
      font-size: 2rem;
    }
    .my-head h2::after {
      top: 260%;
      width: 10%;
    }
  
    .carousel-item div div img {
      width: 100% !important;
    }
    .card-footer :last-child {
      width: 35% !important;
    }

    .contact-sec {
      padding-inline: .7rem ;
    }
  }